body {
    background-color: white;
}

td {

    padding: 12px;
    border-radius: 4px 4px;
    text-align: center;
}

#empty:hover {
    transform: none;
}

#empty2:hover {
    transform: none;
}

.yellow {
    background-color: yellow;
    border: 1px solid black;
}

.yellow:hover {
    background-color: red;
}

.purple {
    background-color: rgb(134, 89, 223);
    border: 1px solid black;
}

.purple:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(134, 89, 223, 0.918);
}

.yellow:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(255, 255, 0, 0.9);
}

.beige {
    background-color: beige;
    border: 1px solid black;
}

.beige:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(245, 245, 220, 0.913);
}

.green {
    background-color: green;
    border: 1px solid black;
}

.green:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(0, 128, 0, 0.938);
}

.orange {
    background-color: orange;
    border: 1px solid black;
}

.orange:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(255, 166, 0, 0.928);
}

.pink {
    background-color: pink;
    border: 1px solid black;
}

.pink:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(255, 192, 203, 0.945);
}

.violet {
    background-color: violet;
    border: 1px solid black;
}

.violet:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(238, 130, 238, 0.923);
}

.golden {
    background-color: goldenrod;
    border: 1px solid black;
}

.golden:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(218, 165, 32, 0.936);
}

.sky {
    background-color: skyblue;
    border: 1px solid black;
}

.sky:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(135, 207, 235, 0.934);
}

.greendark {
    background-color: rgb(17, 154, 136);
    border: 1px solid black;
}

.greendark:hover {
    border-color: black;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    z-index: 1;
    background-color: rgba(17, 154, 136, 0.914);
}